body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

#header-container {
    background-color: #2e8b57;
}

form .form-control {
    border-radius: 5px;
    margin-bottom: 10px;
}

form .btn {
    background-color: #2e8b57;
    border: none;
}

form .btn:hover {
    background-color: #61bc84;
}

footer {
    background-color: #2e8b57;
    color: #fff;
    text-align: center;
}
